.heroText {
    position: relative;
    margin-top: 6rem;
    padding-right: 15%;
    z-index: 10;
    font-size: 5.5rem;
    line-height: 1.13;
    text-align: left;
    font-weight: 500;
    background: radial-gradient(#363d47, rgba(54, 61, 71, 0) 50%)
}

@media (max-width: 900px) {
    .heroText {
        margin: 2.5rem auto 0;
        padding: 0;
        font-size: 2.5rem
    }
}

@media (max-width: 568px) {
    .heroText {
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto
    }
}

.content {
    position: relative;
    margin: 7rem 0 0;
    padding-right: 15%;
    justify-content: flex-start
}

@media (max-width: 900px) {
    .content {
        display: block;
        margin: 3rem auto 0;
        padding: 0
    }
}

.content p {
    -webkit-columns: 2;
    column-count: 2;
    grid-gap: 4rem;
    gap: 4rem;
    line-height: 2
}

@media (max-width: 900px) {
    .content p {
        -webkit-columns: 1;
        column-count: 1
    }
}

.statsDetail {
    display: grid;
    margin-top: 2.25rem;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    gap: 4rem
}

@media (max-width: 900px) {
    .statsDetail {
        display: block
    }
}

.statsDetail > * {
    flex: 1
}

.statsDetail h2 {
    font-size: 4rem;
    line-height: 1.13;
    font-weight: 500
}

@media (max-width: 900px) {
    .statsDetail h2 {
        font-size: 3rem
    }
}

.statsDetail p {
    margin: 2rem 0;
    line-height: 2
}

.statsDetail p:first-child {
    margin-top: 1rem
}

.statList {
    display: grid;
    width: 75%;
    margin: 8.25rem auto 0;
    list-style-type: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 7.75rem;
    grid-row-gap: 5rem;
    text-align: left
}

@media (max-width: 900px) {
    .statList {
        width: 100%;
        margin: 4rem auto 0;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 2rem
    }
}

.statList h3 {
    margin: 0;
    font-size: 7.5rem;
    line-height: 1;
    font-weight: 700
}

@media (max-width: 900px) {
    .statList h3 {
        font-size: 5rem
    }
}

.statList p {
    margin: 1rem 0
}

.statList em {
    font-style: normal;
    color: #dc4133;
    color: var(--c--planetary-red)
}

.map {
    display: block;
    margin: 8rem auto 0;
    max-width: 75%
}

@media (max-width: 900px) {
    .map {
        width: 100vw;
        margin-top: 4rem;
        margin-left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        max-width: 100vw
    }
}

.oddPush {
    grid-column: 2
}

@media (max-width: 900px) {
    .oddPush + li {
        grid-column: 2
    }
}

.clients, .contact, .stats {
    margin: 15rem auto 0
}

@media (max-width: 900px) {
    .clients, .contact, .stats {
        margin: 0 auto
    }
}

.clients ul {
    margin: 1rem 0 0;
    list-style-type: none;
    font-size: 5.5rem;
    line-height: 1.13
}

@media (max-width: 900px) {
    .clients ul {
        margin: 2rem 0 0;
        font-size: 2.5rem
    }
}

.clients li {
    display: inline-block;
    font-weight: 500
}

.clients li:not(:first-child):before {
    content: ""
}

.clients li:not(:last-child):after {
    content: "\2006/\2006";
    color: #dc4133;
    color: var(--c--planetary-red)
}

.contact {
    margin-bottom: 17rem
}

.contactBody {
    padding-top: 1.7rem;
    font-size: 5.5rem;
    line-height: 1.13;
    font-weight: 500
}

@media (max-width: 900px) {
    .contactBody {
        padding-top: 0;
        font-size: 2.5rem;
        line-height: 1.4
    }
}

.contactLink {
    text-decoration: none;
    font-style: normal;
    color: #9da7b3;
    color: var(--c--text-secondary);
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, #dc4133 12.5%, hsla(0, 0%, 100%, 0) 0);
    border-image-source: linear-gradient(90deg, var(--c--planetary-red) 12.5%, hsla(0, 0%, 100%, 0) 0);
    border-image-slice: 0 0 125;
    border-image-repeat: repeat;
    border-image-width: 0 0 1px
}

.contactLink:hover {
    color: #dc4133;
    color: var(--c--planetary-red)
}

@media (max-width: 900px) {
    .contactLink {
        border-image-source: linear-gradient(90deg, #dc4133 0, #dc4133 10%, transparent 0, transparent 50%, #dc4133 0, #dc4133 60%, transparent 0, transparent);
        border-image-source: linear-gradient(90deg, var(--c--planetary-red) 0, var(--c--planetary-red) 10%, transparent 0, transparent 50%, var(--c--planetary-red) 0, var(--c--planetary-red) 60%, transparent 0, transparent);
        border-image-slice: 0 0 40
    }
}

.largeNextLink {
    display: block;
    margin: 5.63rem 0 0;
    text-decoration: none;
    font-size: 1.75rem;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

@media (max-width: 900px) {
    .largeNextLink {
        display: none
    }
}

.largeNextLink .largeNextText {
    margin-right: .75rem
}

.largeNextLink:hover {
    -webkit-transform: translateX(.25%);
    transform: translateX(.25%)
}
