.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.25rem;
    gap: 2.25rem
}

@media (max-width: 900px) {
    .container{
        grid-template-columns: 1fr !important
    }
}

.container.fullWidth {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.container.singleCol {
    grid-gap: 5rem 2.25rem;
    gap: 5rem 2.25rem
}
.wrap {
    width: calc(100% - 3rem);
    margin: 0 auto;
    padding: 5.5rem 0;
    max-width: 1440px;
    max-width: var(--max-width)
}

@media (max-width: 900px) {
    .wrap {
        grid-template-columns: 1fr !important
    }
}

.copy {
    position: absolute;
    top: 0;
    left: 50%;
    width: 80%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

@media (max-width: 900px) {
    .copy {
        position: static;
        margin-bottom: 2.25rem;
        -webkit-transform: none;
        transform: none
    }
}

.copy h2 {
    font-size: 2.63rem
}

.copy p {
    margin: 1rem 0
}

.staggered.startLeft .rightFirst, .startRight .leftFirst {
    padding-top: 50%
}

@media (max-width: 900px) {
    .leftFirst, .rightFirst {
        padding-top: 0 !important
    }
}

.column {
    position: relative
}

.column .img{
    padding: 3rem;
    background: hsla(0, 0%, 100%, .1)
}

@media (max-width: 900px) {
    .column .img{
        padding: 0
    }
}

.column .imageTag {
    max-width: 100%
}

.imgWrapStaggered {
    width: 80%;
    margin: 0 auto
}

.imgWrapStaggered:not(:first-child) {
    padding-top: 30%
}

@media (max-width: 900px) {
    .imgWrapStaggered {
        width: 100%
    }

    .imgWrapStaggered:not(:first-child) {
        padding-top: 2.25rem
    }
}

@media (max-width: 900px) {
    .imgWrap {
        grid-column: 1 !important
    }
}
