
.outer {
    overflow: hidden;
}

.background {
    position: fixed;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: 1;
    transition: background .2s ease-in-out .2s, opacity .2s ease-in-out;
    pointer-events: none;
    background: transparent
}

.background.exiting canvas {
    -webkit-animation: blur-in-out-heavy 3s cubic-bezier(1, 0, 0, 1) 1s 1 forwards;
    animation: blur-in-out-heavy 3s cubic-bezier(1, 0, 0, 1) 1s 1 forwards
}

@media (max-width: 900px) {
    .background.exiting canvas {
        -webkit-animation-name: blur-in-out-light;
        animation-name: blur-in-out-light
    }
}

@media (max-width: 900px) {
    .background:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .01832) 18.62%, rgba(0, 0, 0, .03832) 32.13%, rgba(0, 0, 0, .0601) 41.5%, rgba(0, 0, 0, .08374) 47.7%, rgba(0, 0, 0, .10932) 51.71%, rgba(0, 0, 0, .13694) 54.5%, rgba(0, 0, 0, .16667) 57.04%, rgba(0, 0, 0, .19859) 60.3%, rgba(0, 0, 0, .2328) 65.25%, rgba(0, 0, 0, .26939) 72.87%, rgba(0, 0, 0, .30842) 84.13%, rgba(0, 0, 0, .35));
        mix-blend-mode: overlay
    }
}

@-webkit-keyframes blur-in-out-heavy {
    0% {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-filter: blur(70px);
        filter: blur(70px);
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-filter: blur(40px);
        filter: blur(40px);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes blur-in-out-heavy {
    0% {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-filter: blur(70px);
        filter: blur(70px);
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-filter: blur(40px);
        filter: blur(40px);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes blur-in-out-light {
    0% {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-filter: blur(40px);
        filter: blur(40px);
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-filter: blur(20px);
        filter: blur(20px);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes blur-in-out-light {
    0% {
        -webkit-filter: blur(0);
        filter: blur(0);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-filter: blur(40px);
        filter: blur(40px);
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-filter: blur(20px);
        filter: blur(20px);
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
/*.wrap {
    display: flex;
    position: relative;
    padding: 2.5rem 0 0;
    z-index: 100
}
@media (max-width: 900px) {
    .wrap {
        display: grid;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding: 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5.5rem 1fr;
        grid-template-areas: "logo toggle" "list list"
    }
}*/
.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    transition: opacity .2s ease;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 0
}

@media (hover: none) {
    .cursor {
        display: none
    }
}

.cursor svg {
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease
}

.cursor path {
    stroke: #fff;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.cursor circle {
    stroke: hsla(0, 0%, 100%, .15);
    fill: transparent;
    transition: stroke .2s ease, fill .2s ease
}

.cursor.hover svg {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.cursor.hover path {
    -webkit-transform: scale(.5);
    transform: scale(.5);
    opacity: 0
}

.cursor.hover circle {
    stroke: #fff;
    stroke: var(--c--white);
    fill: hsla(0, 0%, 100%, .2)
}

.cursor.show {
    opacity: 1
}


.work {
    position: relative;
    right: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    margin: -6.5rem 0 0;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden
}

.work:focus {
    outline: none
}

@media (max-width: 900px) {
    .work {
        margin: -5.5rem 0 0;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch;
        white-space: normal
    }
}


.scroller {
    width: 100%;
    height: 100%
}

@media (max-width: 900px) {
    .scroller {
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch
    }
}

.scrollerWrapper {
    width: 100%;
    height: 100%
}

@media (max-width: 900px) {
    .scrollerWrapper {
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch
    }
}

.scrollerWrapper, .scrollerWrapper * {
    cursor: none
}

@media (max-width: 1024px) {
    .scrollerContent {
        -webkit-overflow-scrolling: touch
    }
}

.vTrack {
    display: none;
    position: relative;
    position: fixed !important;
    top: 50%;
    right: 2rem;
    height: 50vh;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px !important;
    background: hsla(0, 0%, 100%, .2)
}


.hTrack {
    position: fixed !important;
    bottom: 0;
    left: 50%;
    width: 100vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 2px !important;
    background: transparent
}

.hThumb {
    position: relative;
    top: -1px;
    height: 4px !important;
    background: #dc4133;
    background: var(--c--planetary-red)
}
/** Project **/
.project {
    display: inline-block;
    position: relative;
    width: 40%;
    height: 100%;
    min-width: 35rem;
    transition: opacity .2s ease-in-out, background .2s ease-in-out;
    white-space: normal;
    overflow: hidden;
    box-sizing: border-box;
    vertical-align: top
}

@media (max-width: 900px) {
    .project {
        display: block;
        width: 100vw;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch;
        min-width: 0
    }
}

.project:not(:last-child):not(.active):after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: hsla(0, 0%, 100%, .05);
    pointer-events: none
}

/** Intro **/
.intro {
    width: 66%;
    padding-left: calc(50vw - 720px);
    min-width: 45rem;
    transition: opacity 1s cubic-bezier(1, 0, 0, 1)
}

.intro.exiting {
    opacity: 0
}

@media (max-width: 1440px) {
    .intro {
        padding-left: 1.5rem
    }
}

@media (max-width: 900px) {
    .intro {
        display: block;
        width: 100vw;
        min-width: 0;
        scroll-snap-align: start
    }
}

.intro .wrap {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5rem 3rem 5rem 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

@media (max-width: 1024px) {
    .intro .wrap {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}

@media (max-width: 900px) {
    .intro .wrap {
        width: calc(100% - 3rem);
        height: -webkit-fill-available;
        height: -moz-available;
        height: stretch;
        box-sizing: content-box
    }
}

.intro h1 {
    margin: 3rem 0;
    font-size: 4.5rem;
    line-height: 1.5;
    max-width: 50rem;
    font-weight: 500
}

@media (max-height: 760px) {
    .intro h1 {
        font-size: 11vh
    }
}

@media (max-width: 900px) {
    .intro h1 {
        font-size: 5.5rem
    }
}

@media (max-width: 568px) {
    .intro h1 {
        font-size: 2.5rem;
        line-height: 1.4
    }
}
.bottom {
    display: flex;
    position: absolute;
    right: 3rem;
    bottom: 5rem;
    left: 0;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 1
}

@media (max-width: 1024px) {
    .bottom {
        bottom: 3rem
    }
}

.bottom a {
    font-size: 2rem;
    text-decoration: none
}

@media (max-width: 900px) {
    .bottom a {
        font-size: 1.4rem
    }
}

.bottom .arrow {
    margin-left: 1rem
}

.bottom h4 {
    color: hsla(0, 0%, 100%, .5);
    font-size: 1.2rem
}

@media (max-width: 900px) {
    .bottom h4 {
        display: none
    }
}

/** End **/
.end {
    transition: opacity 1s cubic-bezier(1, 0, 0, 1)
}

.end.exiting {
    opacity: 0
}

@media (max-width: 900px) {
    .end {
        margin-top: 8rem
    }
}


.end .wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column
}
@media (max-width: 900px) {
    .end .wrap {
        height: -webkit-fill-available;
        height: -moz-available;
        height: stretch
    }
}
.end a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 4rem;
    text-decoration: none;
    transition: background .2s ease-in-out .2s
}

.end a:not(:last-child) {
    border-bottom: 1px solid hsla(0, 0%, 100%, .05)
}

.end a:hover {
    background: hsla(0, 0%, 100%, .05)
}

.end a span {
    margin-bottom: 2rem
}

@media (max-width: 900px) {
    .end a {
        padding: 0 1.5rem;
        align-items: flex-start
    }
}


/** ProjectLink **/

.projectLink {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 4.5rem 8rem;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translateY(8.5rem);
    transform: translateY(8.5rem);
    transition: background .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background .2s ease;
    transition: transform .2s ease, background .2s ease, -webkit-transform .2s ease
}

@media (max-width: 1024px) {
    .projectLink {
        padding-bottom: 3rem
    }
}

@media (max-width: 900px) {
    .projectLink {
        height: -webkit-fill-available;
        height: -moz-available;
        height: stretch;
        margin-bottom: 3rem;
        padding-bottom: 0;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.projectLink h2 {
    font-size: 4.5rem;
    line-height: 1.13;
    font-weight: 500
}

@media (max-width: 900px) {
    .projectLink h2 {
        font-size: 4rem
    }
}

.projectLink h3 {
    margin: 2rem 0 0;
    font-size: 1rem;
    font-weight: 400;
    transition: color .2s ease-in-out
}

.projectLink h4 {
    position: absolute;
    bottom: 3rem;
    line-height: 1;
    opacity: 0;
    -webkit-transform: translateY(6rem);
    transform: translateY(6rem);
    transition: opacity .4s ease .2s, -webkit-transform .4s ease .2s;
    transition: opacity .4s ease .2s, transform .4s ease .2s;
    transition: opacity .4s ease .2s, transform .4s ease .2s, -webkit-transform .4s ease .2s
}

.projectLink h4 svg {
    margin-left: .5rem
}

@media (max-width: 900px) {
    .projectLink h4 {
        bottom: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.projectLink p {
    height: 4rem;
    margin: 1rem 0 -.5rem;
    line-height: 2;
    opacity: 0;
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, transform .2s ease;
    transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease
}

@media (max-width: 1024px) {
    .projectLink p {
        margin-bottom: 3rem
    }
}

@media (max-width: 900px) {
    .projectLink p {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

.projectLink h2 > span, .projectLink h3 > span, .projectLink h4 > span, .projectLink p > span {
    display: block;
    transition: -webkit-transform 1s cubic-bezier(1, 0, 0, 1);
    transition: transform 1s cubic-bezier(1, 0, 0, 1);
    transition: transform 1s cubic-bezier(1, 0, 0, 1), -webkit-transform 1s cubic-bezier(1, 0, 0, 1)
}


.active {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 4, .00069) 21.79%, rgba(0, 0, 8, .00234) 37.82%, rgba(0, 0, 11, .00508) 49.09%, rgba(0, 0, 15, .00904) 56.59%, rgba(0, 0, 19, .01434) 61.31%, rgba(0, 0, 23, .02113) 64.25%, rgba(0, 0, 27, .02951) 66.39%, rgba(0, 0, 32, .03963) 68.74%, rgba(0, 0, 36, .05161) 72.28%, rgba(0, 0, 41, .06558) 78.01%, rgba(0, 0, 45, .08167) 86.92%, rgba(0, 0, 50, .1))
}

@media (max-width: 900px) {
    .active {
        background: transparent
    }
}

.active .projectLink {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media (max-width: 900px) {
    .active .projectLink {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.active .projectLink h4, .active .projectLink p {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.inactive{
    opacity: .5;
    background: hsla(0, 0%, 100%, .25)
}

@media (max-width: 900px) {
    .inactive{
        opacity: 1;
        background: transparent
    }
}

.exiting {
    background: transparent
}

.exiting h2, .exiting h3, .exiting h4, .exiting p {
    overflow: hidden
}

.exiting h2 > span, .exiting h3 > span, .exiting h4 > span, .exiting p > span {
    -webkit-transform: translateY(200%);
    transform: translateY(200%)
}


/** Work **/
.work {
    position: relative;
    right: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    margin: -6.5rem 0 0;
    z-index: 2;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden
}

.work:focus {
    outline: none
}

@media (max-width: 900px) {
    .work {
        margin: -5.5rem 0 0;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch;
        white-space: normal
    }
}

/** scroller **/
.scroller {
    width: 100%;
    height: 100%
}

@media (max-width: 900px) {
    .scroller {
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch
    }
}

.scrollerWrapper {
    width: 100%;
    height: 100%
}

@media (max-width: 900px) {
    .scrollerWrapper {
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch
    }
}

.scrollerWrapper, .scrollerWrapper * {
    cursor: none
}
.scrollerContent {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
@media (max-width: 1024px) {
    .scrollerContent {

        -webkit-overflow-scrolling: touch
    }
}

